.Home {
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    /* left: 0; */
}
.map {
    background-color: aquamarine;
    display: block;
    height: 90%;
    width: 95%;
    z-index: 0;

}

.leaflet-container {
    height: 100%;
    width: 100%;
}


.menu {
    position: absolute;
    display: flexbox;
    top: 6.5%;
    left: 8%;
    z-index: 0;
    
}

.popup {
    display:flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}