.main {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.banner {
    justify-content: start;
    background-color: blue;
    height: 45%;
    width: 100%;
    overflow: hidden;
}

.banner #bannerImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 45%;
}

.placeHolder{
    align-items: baseline;
    object-position: top;
}

#bannerTint{
    height: 100%;
    width: 100%;
    background-color: #00000088;
    position: relative;
    top: -101.5%;
    left: 0;
}

#galleryName{
    position: relative;
    top: -125%;
    padding-left: 80px;
    color: white;
    font-weight: 600;
    font-size: 2.75rem;
}

.disp_img {
    display: flex;
    align-items: start;
    background-color: gray;
    height: 100%;
    padding: 4%;
}